<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CalendarSamples.CalendarSamples" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="CalendarSamples" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
</manifest>