<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ResourcesSamples.ResourcesSamples" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="ResourcesSamples" android:icon="@drawable/Icon"></application>
  <supported-screens>
    
  </supported-screens>
</manifest>